# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
venv/
env/

# Ignore SQLite database
db.sqlite3
*.sqlite3

# Ignore static and media files
/static/
/media/

# Ignore Docker files (optional)
*.log
*.pid
docker-compose.override.yml
